.card_link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card_link_last{     
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -20px;
}

.card_link_img{
    width: 300px;
}
 