.section2_container{
    height: calc(100vh - 150px);
    background-color: white;
    position: relative;
    transition: ease-in-out 2ms;    
    width: 100%;
     
}

.section2_container_links_images{
    width: 60px;
    margin: 0 auto -40px;
    
}

.section2_container_cards{
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
   gap: 16px;
} 

/* section_feedbacks */
.section_feedbacks{
   
   
   margin: 50px auto;
}

.section2_container_feedbacks{
    
    justify-content: space-evenly;
    display: flex;
    
}

.section2_container_messages{
    display: flex;
    flex-wrap: wrap;
}
.section2_container_feedback_text{
    width: 50px; 
    margin: 0 auto -40px;
}
 
.section2_container_feedback_mesage{
    height: 100px;
}