.escrita{
  position: absolute;
  height: 100%;
  margin-left: -50px;
  margin-top: 10px;
  
}

.section1_container {
  background-color: #0B0E12;
  position: relative;
  transition: ease-in-out 2ms;
   
}
.tessst{
  box-shadow: 0px 18px 18px -15px #111; 
  
}

.section1_container__header{ 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.section1_container__header_img{
  width:100px ;
  margin-top: 50px;
}
 
.section1_container__profile{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 200px;
  margin: 0 auto;
}

.section1_container__profile_picture{
  width: 100%;
  margin: -10px auto;
  width: 230px;
}

.section1_container_aboutme{     
  width: 300px;    
  margin:  -10px auto;

}

.section1_container_aboutme__pic{
  width: 100%;
  margin: 0 auto;
}

.section1_container_projects{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin:  20px auto;
  

}
.section1_container_projects__pic{
  width: 100px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.section1_container_carrousel{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 50px;

   
  box-shadow: 10px 18px 18px -15px #111; 
}

  @media (min-width:560px) {
    section1_container {
     
    
      background-size: cover;
    
    }
  
    .section1_container__profile{
       
      height: 350px;
    
    }
    .section1_container__profile_picture{
        width: 400px;
    }

    .section1_container_aboutme{     
        width: 500px;
        margin:  50px auto;
 
    }

    .section1_container__header{ 
        height: 150px;
    }

    .section1_container_aboutme__pic{
        width: 400px;
    }

    
  }