 .section2_container_top_frag {
    width: 600%;
    aspect-ratio: 400/397;
    background: linear-gradient(0deg, #0B0E12, #0B0E12);
    border-radius: 50%;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
  
   
  }
  

  .section2_container_top {
    height: 150px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; background-color: #fafafa;

    background-color: #e5e5f7;
 
    background-image:  radial-gradient(#ff2ea6 2px, transparent 2px), radial-gradient(#ff2ea6 2px, #fafafa 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
    z-index: -99999;
  }
  