.footer{
   
    background-color: #0B0E12;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 9999999;
    bottom: 0;
    left: 0;
}

.footer_logo{
    width: 80px;
}